.formulaire_page{
    background:#E9EFEB;
    width:412px;
    height:883px;
}

.questions{
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    top:20px;
    left:25px;
}

p{
   position: relative;
   top:8px;
}
select{
    background: white;
    border-radius: 8px;
    width: 237px;
    height:35px
}

.budget_slider{
    width: 250px;
}
