.formulaire_page{
    background:#E9EFEB;
    height: 738px;
    width: 412px;
}

.questions{
    background:#192525;
    color: white;
    margin: 1rem;
    padding: 2rem;
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 8px;
}

select{
    background: white;
    border-radius: 8px;
    width: 237px;
    height:35px
}

.budget_slider{
    width: 250px;
}
