.contact_page{
    height: 738px;
    width: 412px;
}

.contact_list{
    position: relative;
    top:40px;
    left:20px;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.contact_box{
    color:white;
    background: #3B575A;
    width: 365px;
    height: 80px;
    border-radius: 8px;
}

.contact_name{
    position: relative;
    left:10px;
    font-size: 26px;
}
.contact_number{
    position: relative;
    
    left:10px;
    font-size: 22px;
}
.contact_hour{
    position: relative;
    left:10px;
    font-size: 22px;
}

.contact_icon{
    position: relative;
    left:300px;
    bottom: 50px;
    width: 35px;
    height: 35px;
}
.contact_box_2{
    color:white;
    background: #3B575A;
    width: 365px;
    height: 116px;
    border-radius: 8px;
    .contact_icon{
        bottom:70px;
    }
}