.login_page{
    background:#E9EFEB;
    height: 738px;
    width: 412px;
}

td[aria-selected="true"]{
    background: grey;
}

.hero {
    padding-top: 2em;
    font-size: 1.5rem;
}

.formulaire{
    font-size: 1.1rem;
    /* height: 526px;; */
    width: 320px;
    background:#192525;
    border-radius: 8px;;
    position: relative;
    left:50px;  
    top:20px;

    padding: 2em;

    Label{
        /* position: relative;
        left:15px;
        top:25px; */
        color: white;
    }

    Input{
        /* position: relative;
        top:25px; */
        color:  black;
        background: white;
    }

    Input::placeholder{
        color: grey;
    }

    .submit{
        background: #3B575A;
    }

    Popover{
        /* top:25px; */
    }
}