.tap_logo {
    position: relative;
    left: 15px;
    bottom:1px;
    height: 75px;
    width: 75px;
}

.hotel_logo{
    position: relative;
    bottom:40px;
    left:115px;
}
.navbar{
    background: #192524;
    width: 412px;
    height: 100px;
}