.restaurant_page{
    background:#E9EFEB;
    height: 738px;
    width: 412px;
}

.restaurant_list{
    display: flex;
    flex-direction: column;
    position: relative;
    left:10px;
    top:10px;
    height: 600px;
    justify-content: space-evenly;
}

.restaurant_box{
    background:#3B575A;
    border: 1px solid;
    border-radius: 8px;
    width: 395px;
    height: 176px;
    p{
        position: relative;
        top:10px;
        left:20px;
        color:white;
    }
    .restaurant_name{
        font-size: 25px;
    }
    .restaurant_desc{
        font-size: 15px;
    }
    .restaurant_img{
        position: relative;
        top:15px;
        left:65px;
        width: 140px;
        height: 89.97px;
        border-radius: 8px;
    }
    .restaurant_button{
        position: relative;
        bottom:30px;
        left:240px;
        width: 122px;
        height: 40px;
        background: #2C2C2C;
        border-radius: 8px;
        color: white;
    }
}
